<div class="container-pt" cdkDropListGroup>
  <div class="table-plan w-100">
    <form (ngSubmit)="createTable()" [formGroup]="addTable"
      class="py-3 d-flex align-items-center justify-content-between w-100" action="">
      <input formControlName="name" class="form-control w-25 mr-2" type="text" placeholder="Nom de la table" />
      <select formControlName="type" class="form-control w-25">
        <option value="" selected disabled hidden>Choisir le type de table</option>
        <option value="1">Table d'honneur</option>
        <option value="2">invite</option>
      </select>
      <input formControlName="nbInvite" class="form-control w-25 mr-2" type="number" placeholder="Nombre d'invite" />
      <button [disabled]="addTable.invalid" type="submit" class="btn btn-primary">ajouter une table</button>
    </form>
    <div class="plan-table-container">
      <div (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".plan-table-container" cdkDrag class="table"
        [ngClass]="{'honneur' : table.type === '1'}" *ngFor="let table of tableList; let i = index">
        <h3>{{table.nom}}</h3>
        <label> {{table.invites.length}} personnes </label>
        <div cdkDropList [cdkDropListData]="table.invites" (cdkDropListDropped)="drop($event, table)"
          class="invite-table">
          <div class="invite" *ngFor="let invite of table.invites; let i = index" cdkDrag> {{i+1}}. {{invite.nom}}
            {{invite.prenom}}</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div cdkDropList [cdkDropListData]="invites" (cdkDropListDropped)="drop($event,  null)" class="invite-container">
    <input class="form-control" [(ngModel)]="query" placeholder="Rechercher un invité">
    <div class="invite-list">
      <div [ngClass]="{'odd': odd}" class="invite" *ngFor="let invite of invites | search:'nom,prenom':query ; let
      i=index; let odd=odd" cdkDrag>
        {{invite.nom}} {{invite.prenom}}
      </div>
    </div>
  </div>
</div>
