@import 'partials/variables';

.container-pt {
  display: grid;
  grid-template-columns: 75% 1% 21%;
  grid-template-areas: "pt hr invite";
  grid-template-rows: 85vh;
  column-gap: 10px;
  overflow-y: hidden;
  padding: 1rem 0;

  .table-plan {
    grid-area: pt;
    justify-self: center;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "form""ptc";
    row-gap: 10px;
    padding: 0 1rem;

    form {
      grid-area: form;
    }

    .plan-table-container {
      grid-area: ptc;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      overflow: scroll;
      border: 1px solid #eee;
      border-radius: 5px;

      .table {
        width: 300px;
        height: 300px;
        border: 1px solid #eee;
        border-radius: 50%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin: 3rem 5rem;

        h3 {
          margin-bottom: .2rem;
          margin-top: 1rem;
        }

        label {
          font-size: .6rem;
        }

        &.honneur {
          background-color: $primary;
        }

        &.over {
          background-color: $primary;
        }

        .invite-table {
          border: 1px solid #eee;
          background-color: white;
          min-height: 60px;
          width: 150px;
          max-height: 150px;
          overflow-y: auto;

          &.cdk-drop-list-receiving {
            border: 1px solid $primary;
          }

          .invite {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            border-bottom: 1px solid #eee;
            cursor: grab;
          }

          .invite:last-child {
            border: none;
          }
        }


      }
    }
  }

  hr {
    height: 100%;
    width: 1px;
    grid-area: hr;
    align-self: center;
    justify-self: center;
    margin: 0;
    background-color: #eee;
  }

  .invite-container {
    grid-area: invite;
    justify-self: center;
    width: 90%;
    height: 100%;
    padding: 1rem 0;

    .invite-list {
      overflow: scroll;
      height: 96%;
      margin-top: 1rem;

      .invite {
        border-bottom: 1px solid #eee;
        padding: .6rem;
        transition: all .2s ease;
        cursor: grab;

        &:last-child {
          border: none;
        }

        &:nth-child(odd) {
          background-color: #eee;
        }

        p {
          text-align: center;
          margin: 0;
        }
      }


    }
  }
}
