/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'partials/variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

a,
.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary,
.btn-primary:disabled {
  background-color: $primary !important;
  border-color: $border-primary;

  &:hover {
    border-color: $border-primary;
  }
}

.justify-content-flex-end {
  justify-content: flex-end;
}

// scrollbar style
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primary;
}

// drag & drop style

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// snackbar 

snack-bar-container {
  &.mat-snack-bar-container {
    background: $primary;

    app-complete-table {
      p {
        margin: 0;
        text-align: center;
        font-weight: 700;
        font-size: 1.3rem;
      }
    }
  }


}
