.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px;
    grid-template-areas: ". p1 p2 p3 p4 .";
    place-items: center center;
    p {
        font-size: 3rem;
        font-style: italic;
        font-weight: bold;
        color: #c84a7f;
    }
    p:nth-child(1) {
        grid-area: p1;
    }
    p:nth-child(2) {
        grid-area: p2;
    }
    p:nth-child(3) {
        grid-area: p3;
    }
    p:nth-child(4) {
        grid-area: p4;
    }
}