.countdown {
    background-image: url('src/assets/img/wedding.jpg');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    position: relative;
}

.news {
    display: flex;
    .articles-container {
        padding: 2rem;
        .card-body {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "h5""p1""p2";
            h5 {
                grid-area: h5;
            }
            .card-text {
                grid-area: p1;
            }
            .author {
                grid-area: p2;
                justify-self: flex-end;
                font-weight: 300;
                color: rgb(177, 177, 177);
                font-style: italic;
            }
        }
    }
    .news-container {
        .sticky {
            position: sticky;
            top: 20px;
        }
        flex: 60%;
        padding: 1rem;
        .card {
            margin: 1em 0;
        }
    }
}