<section class="countdown">
    <countdown></countdown>
</section>
<section class="news">
    <div class="news-container">
        <div class="sticky">
            <div class="card" *ngFor="let card of cards; let i = index">
                <div class="card-body">
                    <h5 class="card-title">0{{i + 1}} {{card.title}}</h5>
                    <p class="card-text">{{card.content}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="articles-container">
        <div class="news-card" *ngFor="let news of news; let i = index">
            <div class="card-body">
                <h3 class="card-title">0{{i + 1}} {{news.title}}</h3>
                <p class="card-text">{{news.content}}</p>
                <p class="author">{{news.author}}</p>
            </div>
            <hr>
        </div>
    </div>

</section>