<nav class="navbar navbar-expand-lg navbar-light shadow bg-light">
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-lg-between">
            <div class="router d-flex">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/main']">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/plan-de-table']" tabindex="-1">Plan de table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/prestas']" tabindex="-1">Prestataires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" tabindex="-1">Faire part</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" tabindex="-1">Apporter son aide</a>
                </li>
            </div>
            <div class="action-btn d-flex">
                <li class="nav-item active">
                    <button class="btn btn-primary mr-3" (click)="openConnectDialog()">Connexion</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default bg-light">Deconnexion</button>
                </li>
            </div>
        </ul>
    </div>
</nav>